.grid-container {
	display: grid;
	grid: repeat(12, 100px);
	margin: var(--m-0) var(--margin-auto);
}

.grid-container .main {
	grid-column: 1/13;
	width: 100%;
}

.background-image-container {
  width: 100%;
  height: 70vh;
  background-color: var(--primary-color-dark);
  /* margin: 0; */
  border-radius: var(--br-2);
}

.banner {
  width: 100%;
  height: 100%;
  border-radius: var(--br-2);
  opacity: 0.8;
}

.slide-active {
  display: block;
}
.slide-inactive {
  display: none;
}

.banner-dot {
  font-size: 1.4rem;
  color: var(--secondary-color);
  position: relative;
  top: -5rem;
}
.active-dot {
  color: var(--secondary-background-color-light);
}

.banner-nav-btn-container {
  font-size: 2.5rem;
  color: var(--secondary-background-color-light);
  position: relative;
  top: -40vh;
}

.rui-main--heading-container, .rui-main--sub-heading {
  padding: var(--p-0);
  margin: var(--m-0);
  border-bottom: var(--b-0);
}