.grid-container {
	display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: repeat(12,1fr);
	grid-template-columns: auto;
	margin: var(--m-0) var(--margin-auto);
}

.grid-container .header {
	width: 100%;
}

.grid-container .main {
	grid-column: 1/13;
	width: 100%;
  min-height: 100vh;
  max-height: max-content;
  overflow: visible;
}

.background-image-container {
  width: 100%;
  height: 70vh;
  background-color: var(--primary-color-dark);
  border-radius: var(--br-2);
}

.banner {
  width: 100%;
  height: 100%;
  border-radius: var(--br-2);
  opacity: 0.8;
}

.slide-active {
  display: block;
}
.slide-inactive {
  display: none;
}

.banner-dot {
  font-size: 1.4rem;
  color: var(--secondary-color);
  position: relative;
  top: -5rem;
}
.active-dot {
  color: var(--secondary-background-color-light);
}

.banner-nav-btn-container {
  font-size: 2.5rem;
  color: var(--secondary-background-color-light);
  position: relative;
  top: -40vh;
}

.rui-main--heading-container, .rui-main--sub-heading {
  padding: var(--p-0);
  margin: var(--m-0);
  border-bottom: var(--b-0);
}

.focused > .textbox-label {
	background: var(--secondary-background-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 0.1rem;
  bottom: 0.1rem;
  background-color: var(--secondary-background-color);
  border-radius: var(--br-circle);
  transition: 0.5s;
}

input:checked + .slider::before {
  transform: translateX(3rem);
}

.horizontal-tabs-content {
	display: block;
}

.vertical-tabs-content {
  display: block;
}

.nav-container {
  padding: var(--p-0);
	z-index: var(--max-z-index);
}

.nav-background {
	height: 100%;	
  grid-column: 1/13;
  grid-row: 1/13;
	background-color: var(--tertiary-color);
	opacity: 0.5;
}

.nav-content {
  height: 100%;	
  grid-column: 1/6;
  grid-row: 1/13;
}

.grid-container .nav-container {
  grid-column: 1/13;
  grid-row: 1/13;
}

.modal {
	padding: var(--p-0);
	z-index: var(--max-z-index);

}
.modal-background {
  width: 100%;
  height: 100%;	
  grid-column: 1/13;
  grid-row: 1/13;
	background-color: var(--tertiary-color);
	opacity: 0.5;
  z-index: 8;
}
.modal-content {
  grid-column: 2/12;
  grid-row: 1/13;
  position: absolute;
  top: 50%;
  left: 50%;
	z-index: var(--max-z-index);
}

.grid-container .modal {
  grid-column: 1/13;
  grid-row: 1/13;
}
@media screen and (max-width: 1180px) {
  .header-nav-icon {
      display: none;
  }
}
.header-theme-small-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-nav-icon{
    display: block;
  }
  .header-nav-icons {
    display: none;
  }
  .grid-container .nav {
		height: 100%;
    width: 22rem;
		grid-column: 1/6;
		grid-row: 1/13;
		overflow: hidden;
		background: var(--primary-color);
		z-index: var(--max-z-index);
		visibility: visible;
    
	}
}
@media screen and (max-width: 400px) {
  .header-them-icons {
    display: none;
  }
  .header-theme-small-icon {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .grid-container .header {
    overflow: visible;
  }
}
/* Habits page */
.category-container {
  height: 100%;
  width: 25%;
}

.habits-container {
  height: 100%;
  width: 75%;
}

.grid-container .habits-content-container {
  padding: 0;
}

.filters {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}

.habit-form-container {
  background: var(--primary-color);

}

.habit-form-container .textbox-label {
  background: var(--primary-color);

}